In [19]:
import pandas as pd
import numpy as np

In [20]:
df = pd.read_csv('C:/Users/if.LABINFO04-01/Desktop/train.csv')
df

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
861,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [24]:
na = np.array(df.age.dropna())
na

array([ 22.  ,  38.  ,  26.  ,  35.  ,  35.  ,  54.  ,   2.  ,  27.  ,
        14.  ,   4.  ,  58.  ,  20.  ,  39.  ,  14.  ,  55.  ,   2.  ,
        31.  ,  35.  ,  34.  ,  15.  ,  28.  ,   8.  ,  38.  ,  19.  ,
        40.  ,  66.  ,  28.  ,  42.  ,  21.  ,  18.  ,  14.  ,  40.  ,
        27.  ,   3.  ,  19.  ,  18.  ,   7.  ,  21.  ,  49.  ,  29.  ,
        65.  ,  21.  ,  28.5 ,   5.  ,  11.  ,  22.  ,  38.  ,  45.  ,
         4.  ,  29.  ,  19.  ,  17.  ,  26.  ,  32.  ,  16.  ,  21.  ,
        26.  ,  32.  ,  25.  ,   0.83,  30.  ,  22.  ,  29.  ,  28.  ,
        17.  ,  33.  ,  16.  ,  23.  ,  24.  ,  29.  ,  20.  ,  46.  ,
        26.  ,  59.  ,  71.  ,  23.  ,  34.  ,  34.  ,  28.  ,  21.  ,
        33.  ,  37.  ,  28.  ,  21.  ,  38.  ,  47.  ,  14.5 ,  22.  ,
        20.  ,  17.  ,  21.  ,  70.5 ,  29.  ,  24.  ,   2.  ,  21.  ,
        32.5 ,  32.5 ,  54.  ,  12.  ,  24.  ,  45.  ,  33.  ,  20.  ,
        47.  ,  29.  ,  25.  ,  23.  ,  19.  ,  37.  ,  16.  ,  24.  ,
        22.  ,  24.  ,  19.  ,  18.  ,  19.  ,  27.  ,   9.  ,  36.5 ,
        42.  ,  51.  ,  22.  ,  55.5 ,  40.5 ,  51.  ,  16.  ,  30.  ,
        44.  ,  40.  ,  26.  ,  17.  ,   1.  ,   9.  ,  45.  ,  28.  ,
        61.  ,   4.  ,   1.  ,  21.  ,  56.  ,  18.  ,  50.  ,  30.  ,
        36.  ,   9.  ,   1.  ,   4.  ,  45.  ,  40.  ,  36.  ,  32.  ,
        19.  ,  19.  ,   3.  ,  44.  ,  58.  ,  42.  ,  24.  ,  28.  ,
        34.  ,  45.5 ,  18.  ,   2.  ,  32.  ,  26.  ,  16.  ,  40.  ,
        24.  ,  35.  ,  22.  ,  30.  ,  31.  ,  27.  ,  42.  ,  32.  ,
        30.  ,  16.  ,  27.  ,  51.  ,  38.  ,  22.  ,  19.  ,  20.5 ,
        18.  ,  35.  ,  29.  ,  59.  ,   5.  ,  24.  ,  44.  ,   8.  ,
        19.  ,  33.  ,  29.  ,  22.  ,  30.  ,  44.  ,  25.  ,  24.  ,
        37.  ,  54.  ,  29.  ,  62.  ,  30.  ,  41.  ,  29.  ,  30.  ,
        35.  ,  50.  ,   3.  ,  52.  ,  40.  ,  36.  ,  16.  ,  25.  ,
        58.  ,  35.  ,  25.  ,  41.  ,  37.  ,  63.  ,  45.  ,   7.  ,
        35.  ,  65.  ,  28.  ,  16.  ,  19.  ,  33.  ,  30.  ,  22.  ,
        42.  ,  22.  ,  26.  ,  19.  ,  36.  ,  24.  ,  24.  ,  23.5 ,
         2.  ,  50.  ,  19.  ,   0.92,  17.  ,  30.  ,  30.  ,  24.  ,
        18.  ,  26.  ,  28.  ,  43.  ,  26.  ,  24.  ,  54.  ,  31.  ,
        40.  ,  22.  ,  27.  ,  30.  ,  22.  ,  36.  ,  61.  ,  36.  ,
        31.  ,  16.  ,  45.5 ,  38.  ,  16.  ,  29.  ,  41.  ,  45.  ,
        45.  ,   2.  ,  24.  ,  28.  ,  25.  ,  36.  ,  24.  ,  40.  ,
         3.  ,  42.  ,  23.  ,  15.  ,  25.  ,  28.  ,  22.  ,  38.  ,
        40.  ,  29.  ,  45.  ,  35.  ,  30.  ,  60.  ,  24.  ,  25.  ,
        18.  ,  19.  ,  22.  ,   3.  ,  22.  ,  27.  ,  20.  ,  19.  ,
        42.  ,   1.  ,  32.  ,  35.  ,  18.  ,   1.  ,  36.  ,  17.  ,
        36.  ,  21.  ,  28.  ,  23.  ,  24.  ,  22.  ,  31.  ,  46.  ,
        23.  ,  28.  ,  39.  ,  26.  ,  21.  ,  28.  ,  20.  ,  34.  ,
        51.  ,   3.  ,  21.  ,  33.  ,  44.  ,  34.  ,  18.  ,  30.  ,
        10.  ,  21.  ,  29.  ,  28.  ,  18.  ,  28.  ,  19.  ,  32.  ,
        28.  ,  42.  ,  17.  ,  50.  ,  14.  ,  21.  ,  24.  ,  64.  ,
        31.  ,  45.  ,  20.  ,  25.  ,  28.  ,   4.  ,  13.  ,  34.  ,
         5.  ,  52.  ,  36.  ,  30.  ,  49.  ,  29.  ,  65.  ,  50.  ,
        48.  ,  34.  ,  47.  ,  48.  ,  38.  ,  56.  ,   0.75,  38.  ,
        33.  ,  23.  ,  22.  ,  34.  ,  29.  ,  22.  ,   2.  ,   9.  ,
        50.  ,  63.  ,  25.  ,  35.  ,  58.  ,  30.  ,   9.  ,  21.  ,
        55.  ,  71.  ,  21.  ,  54.  ,  25.  ,  24.  ,  17.  ,  21.  ,
        37.  ,  16.  ,  18.  ,  33.  ,  28.  ,  26.  ,  29.  ,  36.  ,
        54.  ,  24.  ,  47.  ,  34.  ,  36.  ,  32.  ,  30.  ,  22.  ,
        44.  ,  40.5 ,  50.  ,  39.  ,  23.  ,   2.  ,  17.  ,  30.  ,
         7.  ,  45.  ,  30.  ,  22.  ,  36.  ,   9.  ,  11.  ,  32.  ,
        50.  ,  64.  ,  19.  ,  33.  ,   8.  ,  17.  ,  27.  ,  22.  ,
        22.  ,  62.  ,  48.  ,  39.  ,  36.  ,  40.  ,  28.  ,  24.  ,
        19.  ,  29.  ,  32.  ,  62.  ,  53.  ,  36.  ,  16.  ,  19.  ,
        34.  ,  39.  ,  32.  ,  25.  ,  39.  ,  54.  ,  36.  ,  18.  ,
        47.  ,  60.  ,  22.  ,  35.  ,  52.  ,  47.  ,  37.  ,  36.  ,
        49.  ,  49.  ,  24.  ,  44.  ,  35.  ,  36.  ,  30.  ,  27.  ,
        22.  ,  40.  ,  39.  ,  35.  ,  24.  ,  34.  ,  26.  ,   4.  ,
        26.  ,  27.  ,  42.  ,  20.  ,  21.  ,  21.  ,  61.  ,  57.  ,
        21.  ,  26.  ,  80.  ,  51.  ,  32.  ,   9.  ,  28.  ,  32.  ,
        31.  ,  41.  ,  20.  ,  24.  ,   2.  ,   0.75,  48.  ,  19.  ,
        56.  ,  23.  ,  18.  ,  21.  ,  18.  ,  24.  ,  32.  ,  23.  ,
        58.  ,  50.  ,  40.  ,  47.  ,  36.  ,  20.  ,  32.  ,  25.  ,
        43.  ,  40.  ,  31.  ,  70.  ,  31.  ,  18.  ,  24.5 ,  18.  ,
        43.  ,  36.  ,  27.  ,  20.  ,  14.  ,  60.  ,  25.  ,  14.  ,
        19.  ,  18.  ,  15.  ,  31.  ,   4.  ,  25.  ,  60.  ,  52.  ,
        44.  ,  49.  ,  42.  ,  18.  ,  35.  ,  18.  ,  25.  ,  26.  ,
        39.  ,  45.  ,  42.  ,  22.  ,  24.  ,  48.  ,  29.  ,  52.  ,
        19.  ,  38.  ,  27.  ,  33.  ,   6.  ,  17.  ,  34.  ,  50.  ,
        27.  ,  20.  ,  30.  ,  25.  ,  25.  ,  29.  ,  11.  ,  23.  ,
        23.  ,  28.5 ,  48.  ,  35.  ,  36.  ,  21.  ,  24.  ,  31.  ,
        70.  ,  16.  ,  30.  ,  19.  ,  31.  ,   4.  ,   6.  ,  33.  ,
        23.  ,  48.  ,   0.67,  28.  ,  18.  ,  34.  ,  33.  ,  41.  ,
        20.  ,  36.  ,  16.  ,  51.  ,  30.5 ,  32.  ,  24.  ,  48.  ,
        57.  ,  54.  ,  18.  ,   5.  ,  43.  ,  13.  ,  17.  ,  29.  ,
        25.  ,  25.  ,  18.  ,   8.  ,   1.  ,  46.  ,  16.  ,  25.  ,
        39.  ,  49.  ,  31.  ,  30.  ,  30.  ,  34.  ,  31.  ,  11.  ,
         0.42,  27.  ,  31.  ,  39.  ,  18.  ,  39.  ,  33.  ,  26.  ,
        39.  ,  35.  ,   6.  ,  30.5 ,  23.  ,  31.  ,  43.  ,  10.  ,
        52.  ,  27.  ,  38.  ,  27.  ,   2.  ,   1.  ,  62.  ,  15.  ,
         0.83,  23.  ,  18.  ,  39.  ,  21.  ,  32.  ,  20.  ,  16.  ,
        30.  ,  34.5 ,  17.  ,  42.  ,  35.  ,  28.  ,   4.  ,  74.  ,
         9.  ,  16.  ,  44.  ,  18.  ,  45.  ,  51.  ,  24.  ,  41.  ,
        21.  ,  48.  ,  24.  ,  42.  ,  27.  ,  31.  ,   4.  ,  26.  ,
        47.  ,  33.  ,  47.  ,  28.  ,  15.  ,  20.  ,  19.  ,  56.  ,
        25.  ,  33.  ,  22.  ,  28.  ,  25.  ,  39.  ,  27.  ,  19.  ,
        26.  ,  32.  ])

In [26]:
media = na.sum()/len(na)
media

29.69911764705882

In [37]:
somador = 0
for elemento in na:
    somador+=(elemento-media)**2
somador = somador/len(na)
somador

210.7235797536662

In [38]:
pd.DataFrame.var(df.age.dropna(),ddof=0)

210.7235797536662

In [36]:
pd.DataFrame.std(df.age.dropna())

14.526497332334044